<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../parc.css">
    <link rel="icon" href="../img/worldsAParkTransparent.png" type="image/x-icon">
    <title>World's A park</title>
</head>
<body>

    <div id ="imgLogo">
        <div id="divDivImg">
            <a href="./main.html">
                <img src="../img/worldsAParkTransparent.png" alt="imgLogo">
            </a>
        </div>
    </div>


    <div id="buttonConnexion">
        <a href="connexion.html"><button id="connexion">Connexion</button></a>
    </div>

    <div class="parc">

        <div class="description">
            <h2><%= park.nom %></h2>
            <p><%= park.descriptif%></p>
            <a href="<%= park.url %>"> lien vers le parc</a>
        </div>

        <div class="categorie">
            <img src="../<%= park.photo %>" alt="imgCategories">
        </div>

        <div class="map"><iframe src=<%= park.localisation %> width="50%"  allowfullscreen="" loading="lazy"></iframe>
            <!--<iframe src=<%= park.localisation %> width="50%"   allowfullscreen="" loading="lazy"></iframe>-->
        </div>

        <div class="notes">
            <p>C'était vraiment très interessant!</p>
        </div>
    </div>


    <footer>
        <div id="footerDiv">
            <a href="contact.html">Contact</a>
            <a href="mentionLegales.html">Mentions légales</a>
            <a id="about" href="">À propos</a>
        </div>
    </footer>
    
</body>
</html>